a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
/*@media(max-width: 1023px){
  .main_menu {flex-wrap: wrap;}
}*/
body {
  background: #EFE6E4;

}
.main {
  width: 1400px;
  height: 715px;
  background-image: url(img/fone1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  
  } 
.page_header,
.nav_list a,
.phone {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #533738;
}

.page_header {
  padding-top: 36px;
  padding-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.nav_list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;

  }

.main_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  }

h1 {
margin-left: 185px;
width: 530px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 62px;
color: #533738;
}

h1+p {
width: 490px;
height: 90px;
margin-left: 185px;
margin-top: 24px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #533738;

}

.button {
  width: 310px;
  height: 74px;
  background-color: #CC8B86;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color:  #533738;
margin-left: 182px;
margin-top: 21px;
}

.about {
  margin-top: 65px;
 }

h2 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #533738;
}

.about_center {
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

.about h2 {
  text-align: center;
}

.about_text {
  width: 528px;
  height: 330px;
  margin-left: 64px;
  margin-right: 182px;
display: block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #533738;
}

.about_img {
  margin-left: 182px;
  width: 445px;
  height: 465px;
}

.about_ul {
width: 1400px;
height: 273px;
background: #8D7370;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
display: flex;
justify-content:space-around ;
align-items: center;
list-style-type: none;
margin-top: 21px;
}

.works_img {
  display: block;
}

.works {
  width: 1200px;
  height: 1099px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 65px;
  text-align: center;
  }

.works_center {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}

.works_flat {
  width: 488px;
  height: 368px;
  font-family: 'Montserrat';
  padding-top: 86px;
font-style: normal;
color: #FFFFFF;
background: linear-gradient(rgba(100, 72, 69, 0.8), rgba(100, 72, 69, 0.8)), url(img/Mask_Group.png);
}

.works_flat h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  }
  
  .works_flat p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 418px;
    height: 150px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: left;
  }
  
  .works a {
    width: 294px;
    height: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
  }
    
.team {
background: #E2C4BA;
width: 1399px;
height: 998px;
text-align: center;
margin-top: 60px;
padding-top: 50px;
}

.team p {
display: block;
width: 320px;
text-align: left;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #533738;
}

.team_img {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  padding-left: 181px;
  padding-right: 182px;
  margin-top: 60px;
}

.we_work {
  width: 1200px;
  height: 300px;
  margin-top: 50px;
}

.we_work_ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  }

.we_work p {
  width: 285px;
  margin-top: 20px;
  gap: 20px;
  text-align: center;
  display: block;
}

.we_work_center {
  display: flex;
}

.we_work_ul li{
  display: flex;
  list-style-type: none;
  width: 70px;
  height: 70px;
  background: #8D7370;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
   
}